@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Feel the p0wer of Azure DevOps CI/CD</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Containerizing Web apps with ASP.NET Core</a>.</p>
</div>
