@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Bootcamp</h1>
    <p>This demo for <a href="https://docs.microsoft.com/aspnet/core"> Building Azure DevOps Pipeline for AKS on Rancher </a>.</p>
</div>
